/* All the common things that we need to share between different elements */

.center-page (@width: 335px) {
   margin: 0 auto;
   vertical-align: middle;
   width: @width;
}

.dotted-bottom-border (@color: @general-gray) {
  border-bottom: 1px dotted @color;
}

.dotted-top-border (@color: @general-gray) {
  border-top: 1px dotted @color;
}

.dotted-right-border (@color: @general-gray) {
  border-right: 1px dotted @color;
}

.clickable {
  cursor: pointer;
}

// Icons
.icon (@url){
  .clickable;
  background: transparent url(@url) no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: top;
}

.icon-edit () {
  .icon("images/icon-edit.png");
}

.icon-add () {
  .icon("images/icon-add.png");
}

.icon-help () {
  .icon("images/icon-help.png");
}

.icon-alert-red () {
  .icon("images/icon-alert-red.png");
}

.icon-flag-red () {
  .clickable;
  background: transparent url("images/flag-red.png") no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: top;
}

.icon-alert () {
  .icon("images/icon-alert.png");
}

.icon-check () {
  .icon("images/icon-check.png");
}

.icon-empty () {
  .icon("images/icon-empty.png");
}

.all-caps-headings () {
  color: @general-gray;
  font-family: @headings-font-family;
  font-size: 22px;
  text-transform: uppercase;
}

.table-highlights () {

  &.warning {
    background-color: @state-warning-bg;
    color: @state-warning-text;
  }

  &.danger {
    background-color: @state-danger-bg;
    color: @state-danger-text;
  }

  &.info {
    background-color: @state-info-bg;
    color: @state-info-text;

    &.inactive {
      background-color: #ccc;
    }
  }

  &.inactive {
    #gradient.striped(#333, 135deg);
    background-size: 8px 8px;
  }
}

