<div ng-controller="ModalSheetController" ng-show="modal.current.shown" class="modal-sheet-container">
  <div class='navbar navbar-default topbar navbar-fixed-top'>
    <p class='back js-topbar-back'>Back</p>
    <p class='center title'>{{ modal.current.title }}</p>
  </div>
  <div class="modal-sheet" ng-class="{shown: modal.current.shown}">
    <section ui-view="modalSheet" class="modal-dialog">
    </section>
    <div class="modal-backdrop"></div>
  </div>
</div>

<!-- showLoadingSpinner is set on the root scope by the iaLoadingSpinner service-->
<div class="loading" ng-show="showLoadingSpinner">
</div>

<iframe id="print" name="print" style="display: none">
</iframe>

<div ui-view>
</div>
