<div class="modal-content">
    <div class="modal-body">
        <span class="modal-message">{{ message }}</span>
        <div ui-view></div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="confirm()" class="btn btn-success {{ buttonColor }} ">{{ confirmLabel
            || 'Confirm'}}
        </button>
        <button type="button" ui-sref="^" class="btn btn-cancel" data-dismiss="modal">{{ cancelLabel
            || 'Cancel'}}
        </button>
    </div>
</div>
