<ol>
    <li ng-repeat="container in containers"
        ng-click="listDataFiles(container)"
        class="column-entry"
        toggle-selected
        model="container">
        <span>{{ container.name }}</span>
    </li>
</ol>
<ol>
    <li class="icon-join">
        <a ui-sref="linkContainerToJar({ containerId: selected.value.id })">Link to JAR</a>
    </li>
    <li class="icon-create">
        <a class="clickable" ng-click="createContainer()">Add container</a>
    </li>
    <li class="icon-delete">
        <a class="clickable" ng-click="deleteContainer()">Delete container</a>
    </li>
</ol>