<ol>
    <li class="column-entry">
        <a class="clickable" ng-click="goToRootFolder()">{{ containerId }}</a>/
        <a class="clickable" ng-click="upOneFolder()" ng-show="navigation.currentFolder.length > 0">{{ navigation.currentFolder }}</a>
    </li>
    <li ng-repeat="folder in folders"
        class="column-entry"
        model="folder">
        {{ folder }} <a class="clickable" ng-click="expandFolder(folder)">+</a>
    </li>
    <li ng-repeat="file in files"
        ng-show="file.folder === navigation.currentFolder"
        class="column-entry"
        toggle-selected
        model="file">
        {{ file.name }}
    </li>
</ol>
<ol>
    <li class="icon-upload" >
        <a ng-click="uploadDataFile()">Upload data file</a>
    </li>
    <li class="icon-download">
        <a  ng-href="/containers/{{containerId}}/download/{{selected.value.id}}" download>Download data file</a>
    </li>
    <li class="icon-delete">
        <a class="clickable"  ng-click="deleteDataFile()">Delete data file</a>
    </li>
</ol>