<ol>
    <li ng-repeat="file in files"
        class="column-entry"
        toggle-selected
        model="file">
        {{ file.name }}
    </li>
</ol>
<ol>
    <li class="icon-upload" >
        <a ng-click="uploadDataFile()">Upload data file</a>
    </li>
    <li class="icon-download">
        <a  ng-href="/containers/{{containerId}}/download/{{selected.value.id}}" download>Download data file</a>
    </li>
    <li class="icon-delete">
        <a class="clickable"  ng-click="deleteDataFile()">Delete data file</a>
    </li>
</ol>