<ol>
    <li ng-repeat="jar in jars"
        ng-click="jarSelected(jar.id)"
        class="column-entry"
        toggle-selected
        model="jar">
        {{ jar.name }}
    </li>
</ol>
<ol>
    <li class="icon-join">
        <a ui-sref="linkJarToContainer({ jarId: selected.value.id })">Link to container</a>
    </li>
    <li class="icon-upload">
        <a ui-sref="uploadJar">Upload JAR file</a>
    </li>
    <li class="icon-download">
        <a ng-href="/containers/{{jarContainer.id}}/download/{{selected.value.id}}" download>Download JAR file</a>
    </li>
    <li class="icon-delete">
        <a ui-sref="deleteJar({ jarId: selected.value.id })">Delete JAR file</a>
    </li>
</ol>
