<ol>
    <li ng-repeat="file in files"
        class="column-entry"
        toggle-selected
        model="file">
        {{ file.name }}
    </li>
</ol>
<ol>
    <li>
        <a  class="icon-upload" ng-click="uploadDataFile()">Upload data file</a>
    </li>
    <li>
        <a  class="icon-download" ng-href="/containers/{{containerId}}/download/{{selected.value.id}}" download>Download data file</a>
    </li>
    <li>
        <a  class="icon-delete clickable" ng-click="deleteDataFile()">Delete data file</a>
    </li>
</ol>