
<div class="scorpio-container"  ng-controller="ScorpioBaseController">
    <div class="three-column container">
        <div class="first column">
            <ol>
                <li class="icon-container" ng-click="listContainers()">
                    Containers
                </li>
                <li class="icon-jar" ng-click="listJars()">
                    Jars
                </li>
                <li class="icon-elephant" ng-click="listJobs()">
                    Jobs
                </li>
            </ol>
        </div>
        <div class="second column" ui-view="secondList">
        </div>
        <div class="third column" ui-view="thirdList">
        </div>
    </div>
</div>
